/* Base styles */
:root {
  font-family: 'Outfit', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff; /* Ensures text color is white */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

Anchor link styles
a {
  color: #e2d8c2; /* Ensures text color is cream */
  height: 100%;
  text-align: center;
  padding: 10px; /* padding sides */
  text-decoration: none; /* Removes underline from links */
}

a:hover {
  color: #ebfc72;
}

/* Body styles - setting up the entire viewport */
body {
  margin: 0;
  /* display: flex; */
  flex-direction: column; /* Correcting direction to support full page content layout */
  align-items: center; /* Centering content horizontally */
  justify-content: center; /* Aligning content to start from the top */
  min-width: 320px; 
  min-height: 100px; 
  padding: 2rem;
  text-align: center;
}

/* Header styles */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Button styles */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: #ebfc72;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  color: #ebfc72;
}

.OutlineYELLOW {
 border: 10px solid #ebfc72;
}
.headshot {
  max-width: 50%;
  margin: 25;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Media query for light color scheme */
@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #e2d8c2;
  }
  a:hover {
    color: #ebfc72;
  }
  button {
    background-color: #3785B5;
  }
}
