.nav {
  background-color: #000000;
  display: flex; /* Using flexbox */
  justify-content: space-between; /* Spreads out items to both ends */
  align-items: center; /* Vertically centers the items */
  font-size: large;
  font-weight: 700;
}

.footer {
    background-color: #000000;
    color: #ffffff;
    font-size: large;
    font-weight: 700;    

}

ul {
  display: flex; /* Enables flexbox for the list */
  align-items: center; /* Aligns items vertically */
  list-style-type: none;
  padding: 0 10px; /* padding sides */
  margin: 0;
  width: 100%; /* Ensures it spans the full width of its parent */
  height: 100%;
}

li {
  padding: 10px; /* padding sides */
}

a {
    color: #e2d8c2; /* Ensures text color is cream */
    height: 100%;
  text-align: center;
  padding: 10px; /* padding sides */
  text-decoration: none; /* Removes underline from links */
}

a:hover {
  color: #ebfc72;
}

.active {
  /* This targets the active class added by NavLink */
  font-weight: bold;
  background-color: #ebfc72;
}

/* Additional CSS to ensure the logo is on the left and other items on the right */
.nav > ul > li:first-child {
  margin-right: auto; /* Pushes all other items to the right */
}

li:first-child a:hover {
  filter: invert();
}
