.nav {
  background-color: #000000;
  display: flex; /* Using flexbox */
  justify-content: space-between; /* Align items to the start */
  align-items: center; /* Vertically centers the items */
  font-size: large;
  font-weight: 700;
  padding: 10px; /* Add padding around the navbar */
}

.nav-link {
  margin-right: 30px; /* Add space between each link */
  color: #ffffff; /* Set the text color for links */
  text-decoration: none; /* Remove underline from links */
}

.nav-link:last-child {
  margin-right: 50px; /* Add extra space to the last link */
}

.nav-link.active {
  color: #d8ff00; /* Color for the active link */
}


.footer {
    background-color: #000000;
    color: #ffffff;
    font-size: large;
    font-weight: 700;  
    align-items: center; 
    justify-content: center; 
    

}

ul {
  display: flex; /* Enables flexbox for the list */
  align-items: center; /* Aligns items vertically */
  list-style-type: none;
  padding: 0 10px; /* padding sides */
  margin: 0;
  width: 100%; /* Ensures it spans the full width of its parent */
  height: 100%;
}

li {
  padding: 10px; /* padding sides */
}

a {
    color: #e2d8c2; /* Ensures text color is cream */
    height: 100%;
  text-align: center;
  padding: 10px; /* padding sides */
  text-decoration: none; /* Removes underline from links */
}

a:hover {
  color: #ebfc72;
}

.active {
  /* This targets the active class added by NavLink */
  font-weight: bold;
  background-color: #ebfc72;
}

/* Additional CSS to ensure the logo is on the left and other items on the right */
.nav > ul > li:first-child {
  margin-right: auto; /* Pushes all other items to the right */
}

li:first-child a:hover {
  filter: invert();
}
